/* FONDO VIDEO */

/*Ajuste del video para que responda a los cambios de resolucion y ajustes de pantalla.
tambien lo posiciona al fondo de los componentes de la pagina para usarlo de fondo*/
/* Tamaño del video*/
/*tamaño imagenes*/
.carrusel-img{
    height: 800px;
    width: auto;
}
/*Distintas letras */
.letras{
    /*Cambio de fuente y tamaño de esta (titulos, footer y navbar)*/
    font-size: x-large; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e50914;
    text-shadow:-2px -2px 2px black;
}
.letraschicas{
        /*Cambio de fuente y tamaño de esta (parrafos)*/
    text-shadow:-1px -1px 1px black;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    text-align: justify;
}
.letrascarrusel{
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    text-align:center;
}
.letrascarrusel2{
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    max-width: 100%;
    top: 35%;

    text-align: center;
    position: absolute;
}
.boton{
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
.fondo{
    background-color:#0a0a0a;
}
.logo{
    width: 80px;
    height: 80px;
}
/**/
.headers{
    text-shadow:-1px -1px 1px -1px white;
    font-size: 45;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e50914;
}
a:hover{
    color:#e50914;
}
.shared-panel{
	overflow: auto;/* especifica si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento a nivel de bloque*/
}
.shared {
	display: inline-block; /*establece le visualizacion interna y externa, en este caso genera uno o mas cuadros de elementos en linea*/
	width: 30px; 
	height: 30px;
	margin: 5px 0; 
	padding: 0; 
	background: url("../img/shared.png"); /* Posicion imagenes de las redes sociales*/
	margin-right: 5px; 
	cursor: pointer; /* indica que el cursor es un puntero y indica un link*/
	border-radius: 50%; 
}

/*Posicion y colores de los bloques de las redes sociales*/
.shared.gp {background-position: 0px 0px; background-color: #E62B34;} 
.shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
.shared.ce {background-position: 0px -60px; background-color: #8A898D;}
.shared.fb {background-position: 0px -120px; background-color: #6081C4;}
/*Bordes redondeados de los bloques de redes sociales*/
.st2{border-radius: 0;}
.st3{border-radius: 5px;}

:root{
    --rojo: #E50914;
    --Fondo: #141414;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    background: var(--Fondo);

}
body .descripcionPrincipal{
    font-size: 25px;
    color:darkgrey;
}

.contenedor{
    width:90%;
    margin:auto;

}

header{
    padding: 30px 0;
}

header .contenedor{
    /*aqui ajuste el menu superior para que quedara el titulo de un lado y el menu del otro*/
    display: flex;
    justify-content:space-between;
    align-items:center;

}

header .logotipo{
    font-weight: normal;
    color: var(--rojo);
    font-size: auto;

}
header nav a{
    color:#AAA;
    /* aqui use el margin-right para separar cada una de las opciones del menu*/
    margin-right: 20px;
}
/*aqui use un header nav a.activo para que cuando el cursosr pase por arriba de los elementos 
estos cambien a un color blanco y saber cual vamos a presionar*/
header nav a:hover,
header nav a.activo{
    color:#FFF;
}

/* Peliculas*/

.peli1{
    background: none;
        width:210px;
        height:290px;
    padding:0px;

    margin-top: 15px;
    margin-left: 110px;
    margin-right: 0px;

}

.peli2{
    background: none;
        width:210px;
        height: 290px;
    padding:0px;
    margin-top: -290px;
    margin-left: 340px;
    margin-right: 0;
}

.peli3 {
    background: none;
        width: 210px;
        height: 290px;
    padding: 0px;

    margin-top: -290px;
    margin-left: 570px;
    margin-right: 0px;
}
