/* FONDO VIDEO */

/*Ajuste del video para que responda a los cambios de resolucion y ajustes de pantalla.
tambien lo posiciona al fondo de los componentes de la pagina para usarlo de fondo*/

.letras{
    /*Cambio de fuente y tamaño de esta (titulos, footer y navbar)*/
    font-size: larger; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.letraschicas{
        /*Cambio de fuente y tamaño de esta (parrafos)*/
    font-size: large;
    text-shadow: -1px -1px black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

body{
  background: url("../img/fondo.jpg");
}
.shared {
	display: inline-block; /*establece le visualizacion interna y externa, en este caso genera uno o mas cuadros de elementos en linea*/
	width: 30px; 
	height: 30px;
	margin: 5px 0; 
  background: url("../img/shared.png");
	padding: 0; 
	margin-right: 5px; 
}

/*Posicion y colores de los bloques de las redes sociales*/
.shared.gp {background-position: 0px 0px; background-color: #000000;} 
.shared.tt {background-position: 0px -30px; background-color: rgb(0, 0, 0);}
.shared.ce {background-position: 0px -60px; background-color: #000000;}
.shared.fb {background-position: 0px -120px; background-color: #000000;}
