/*tamaño imagenes*/
.carrusel-img{
    height: 800px;
    width: auto;
}
/*Distintas letras */
.letras{
    font-size: x-large; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e50914;
    text-shadow:-2px -2px 2px black;
}
.letraschicas{
    text-shadow:-1px -1px 1px black;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    text-align: justify;
}
.letrascarrusel{
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    text-align:center ;
}
.letrascarrusel2{
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    max-width: 100%;
    top: 35%;

    text-align: center;
    position: absolute;
}
.boton{
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
/*Colores letras y resaltado de navbar*/
.fondo{
    background-color:#0a0a0a;
}
.logo{
    width: 80px;
    height: 80px;
}
.headers{
    text-shadow:-1px -1px 1px -1px white;
    font-size: 45;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e50914;
}
a:hover{
    color:#e50914;
}
body{
    background-color: #0a0a0a;
}

/*Redes sociales en footer*/
.shared-panel{
	overflow: auto;
}
.shared {
	display: inline-block; 
	width: 30px; 
	height: 30px;
	margin: 5px 0; 
	padding: 0; 
	background: url("../img/shared.png"); 
	margin-right: 5px; 
	cursor: pointer; 
	border-radius: 50%; 
}

.shared.gp {background-position: 0px 0px; background-color: #E62B34;} 
.shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
.shared.ce {background-position: 0px -60px; background-color: #8A898D;}
.shared.fb {background-position: 0px -120px; background-color: #6081C4;}
.st2{border-radius: 0;}
.st3{border-radius: 5px;}


:root{
    --rojo: #E50914;
    --Fondo: #141414;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.centrado{
    text-align: center;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: var(--Fondo);
    text-align: justify;

}
body .descripcionPrincipal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color:darkgrey;
    margin:auto;
    width: 90%;
}

body .Objetivodelsitioweb{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color:darkgrey;
    margin:auto;
    width: 90%;
}
body .empresa{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color:darkgrey;
    margin:auto;
    width: 90%;
}
body .mision{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color:darkgrey;
    margin:auto;
    width: 90%;

}
body .vision{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color:darkgrey;
    margin:auto;
    width: 90%;

}
body .conocenos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color:darkgrey;
    margin:auto;
    width: 90%;
    
}
.contenedor{
    width:90%;
    margin:auto;

}

header{
    padding: 30px 0;
}

header .contenedor{
    /*aqui ajuste el menu superior para que quedara la foto de un lado y el menu del otro*/
    display: flex;
    justify-content:space-between;
    align-items:center;

}

header .logotipo{
    font-weight: normal;
    font-size: auto;
    width:150px;
    

}
header nav a{
    text-decoration: none;
    color:#AAA;
    /* aqui use el margin-right para separar cada una de las opciones del menu*/
    margin-right: 20px;
}
/*aqui use un header nav a.activo para que cuando el cursor pase por arriba de los elementos 
estos cambien a un color blanco y saber cual vamos a presionar*/
header nav a:hover,
header nav a.activo{
    color:#FFF;
}

/*imagenes y logo */

.salascine{
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    }
    img {
    width: 100%;
    height: auto;
    }


.logo1{
    width: 96%;
max-width: 400px;
margin: 0 auto;
}
img {
width: 100%;
height: auto;
}
.boleteria{
    width: 96%;
max-width: 600px;
margin: 0 auto;
}
img {
width: 100%;
height: auto;
}
.todo{
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    }
    img {
    width: 100%;
    height: auto;
    }
.boletos{
    width: 96%;
max-width: 500px;
margin: 0 auto;
}
img {
width: 100%;
height: auto;
}
.video{
    width: 96%;
max-width: 600px;
margin: 0 auto;
}
img {
width: 100%;
height: auto;

}
footer{
    width:100%;
    background: #000000;
    color:#ffffff;
    margin-top: 200px;
}

.container-body{
    width:100%;
    max-width: 1200px;
    display:flex;
}


.shared-panel{
	overflow: auto;
}
.shared-panel span{
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
}
.shared {
	display: inline-block;
	width: 30px; 
	height: 30px;
	margin: 5px 0; 
	padding: 0; 
	background: url("../img/shared.png") no-repeat; 
	margin-right: 5px; 
	cursor: pointer;
	border-radius: 50%;
}
.shared:hover{
	opacity: 0.7;
}
.shared.gp {background-position: 0px 0px; background-color: #E62B34;}
.shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
.shared.ce {background-position: 0px -60px; background-color: #8A898D;}
.shared.wa {background-position: 0px -90px; background-color: #0dc143;}
.shared.fb {background-position: 0px -120px; background-color: #6081C4;}

.st2{border-radius: 0;}
.st3{border-radius: 5px;}

